.news {
  width: 100%;
  padding: 50px 0;
  display: flex;
  align-items: center;
  margin-top: 100px;
  justify-content: center;
}
.inner {
  width: 50%;
  margin: 0 auto;
}
.boxs {
  display: grid;
  align-items: center;
  flex-wrap: wrap;
}
.box {
  width: 100%;
  border: 1px solid #eee;
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 25px;
  position: relative;
}
.boxs img {
  width: 100%;
  background-color: #ffc222;
  border-radius: 10px;
  margin-bottom: 10px;
}
.box-title {
  padding: 5px 5px 15px 5px;
  font-size: 18px;
  font-weight: 700;
}
.box-s-title {
  padding: 0 5px 15px 5px;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 400;
  color: inherit;
}
.info {
  width: 95%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.read {
  cursor: pointer;
  font-size: 12px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ffc222;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffc222;
  font-weight: 700;
}

.button {
  position: absolute;
  left: 0;
  bottom: -55px;
  border: none;
  background-color: #ffc222;
  padding: 10px 30px;
  border-radius: 5px;
  cursor: pointer;
  color: inherit;
}
