.popular-dishes {
  padding: 50px 0;
}

.inner {
  width: 70%;
  margin: 0 auto;
}

.title {
  position: relative;
  margin: 0 auto 20px auto;
  width: 100%;
}

.title span {
  background-color: #ffc222;
  font-size: 16px;
  position: relative;
  border-radius: 5px;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 30px;
}

.title::before {
  content: '';
  background-color: #e6e6e6;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 50%;
  width: 100%;
  z-index: 0;
  height: 1px;
}

.boxs {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: center;
}

.meals-error {
  text-align: center;
  color: red;
}

.food {
  display: flex;
  gap: 10px;
  margin: 40px 0 20px 0;
}

.food button {
  background-color: #ffc222;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  color: inherit;
  cursor: pointer;
}

@media (max-width: 991px) {
  .boxs {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 767px) {
  .boxs {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 575px) {
  .boxs {
    grid-template-columns: 1fr;
  }
}
